In [2]:
import pandas as pd

In [3]:
election_csv = "Resources/election_data.csv"

In [4]:
election_df = pd.read_csv(election_csv)

In [5]:
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [ ]:
# PyPoll Analysis print via Terminal
print("Election Results")
print("**************************")
print("")
print("**************************")
print("")
print("")
print("")
print("")
print("**************************")
print("")
print("**************************")

In [ ]:
# Write text file with results of financial analysis
with open("Report_PyPoll.txt", "w") as text_file:
    text_file.write("Election Results" + "\n")
    text_file.write("**************************" + "\n")
    text_file.write("Total Votes:" + 
    text_file.write("**************************" + "\n")
    text_file.write(
    text_file.write(
    text_file.write(
    text_file.write(
    text_file.write("**************************" + "\n")
    text_file.write(
    text_file.write("**************************" + "\n")